*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(130, 197, 130);
    display: flex;
    align-items: center;
    justify-content: center;
}
#panel{
    width: 80%;
    height: 85%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
}
#ptop{
    display: flex;
    padding: 0 30%;
    align-items: center;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(41, 100, 41);
}
.elem{
    /* width: 10%; */
    align-items: center;
    gap: 20px;
    display: flex;
    /* background-color: red; */

}
.box{
    padding: 10px 20px;
    font-weight: 700;
    font-size: 25px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(17, 43, 21)
}
#pbot{
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: black; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: rgb(13, 46, 13);
    color: #fff;
    border-radius: 50%;

}
.bubble:hover{
    cursor: pointer;
    background-color: rgb(83, 158, 83);
}